<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileprogramming_termproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProgramming_termProject">
        <activity android:name=".menu.food.category_food_activity"/>
        <activity android:name=".menu.cost.category_cost_activity"/>
        <activity android:name=".menu.tag.category_tag_activity"/>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.PasswordResetActivity" />
        <activity android:name=".ui.recipe_category.recipe_categoryFragment" />
        <activity android:name=".ui.convenience_category.convenience_categoryFragment" />
        <activity android:name=".ui.recipe.recipePagerFragment" />
        <activity android:name=".Camera.CameraActivity" />
        <activity android:name=".Gallery.GalleryActivity" />
        <activity android:name=".community.freeCommunityActivity" />
        <activity android:name=".community.freeInformationActivity" />
        <activity android:name=".community.recipeCommunityActivity" />
        <activity android:name=".community.recipeInformationActivity" />
        <activity android:name=".writingContent.writingFreePostActivity" />
        <activity android:name=".writingContent.writingRecipePostActivity" />
        <activity android:name=".Member.MemberInitActivity"/>
        <activity android:name=".ui.myPage.myRecipeActivity"/>
        <activity android:name=".ui.myPage.bookmarkActivity"/>
        <activity android:name=".ui.myPage.myPostActivity"/>
        <activity android:name=".ui.myPage.myCommentActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".login.FirstScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi_UIEjrM--fHeI6SAu6Z8vk4_TF6O2V0" />
    </application>

</manifest>