<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileprogramming_termproject">
    <uses-permission-sdk-23 android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/> //인터넷접근 관한 허용

    //카메라 권한 허용
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    //
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> //갤러리 읽기 허용


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProgramming_termProject">
        <activity android:name=".login.RegisterActivity"/>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.PasswordResetActivity" />
        <activity android:name=".ui.recipe_category.recipe_categoryFragment" />
        <activity android:name=".ui.convenience_category.convenience_categoryFragment" />
        <activity android:name=".ui.searchResult.searchResultFragment" />
        <activity android:name=".ui.bookmark.bookmarkFragment" />
        <activity android:name=".ui.recipe.recipePagerFragment" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".login.FirstScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Camera.CameraActivity">
        </activity>
        <activity android:name=".Gallery.GalleryActivity">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi_UIEjrM--fHeI6SAu6Z8vk4_TF6O2V0" />
    </application>

</manifest>